# Dependencias
node_modules/

# Entorno y Secretos
.env
.env.backup
.wwebjs_auth/

# Caché y Temporales
.wwebjs_cache/
tmp/
graphify-out/
.agents/
.claude/
*.swp

# Logs y SO
*.log
npm-debug.log*
.DS_Store